<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.bubblebitoey.sw_specebook">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity
                android:name=".view.MainActivity"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".view.UserDetailActivity"
                android:label="@string/title_activity_user_detail">
        </activity>
        <activity
                android:name=".view.BookDetailActivity"
                android:label="@string/book_detail">
        </activity>
        <activity
                android:name=".view.UserBookListActivity"
                android:label="@string/book_list">
        </activity>
    </application>

</manifest>